<!DOCTYPE html>
<html>
  <head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
      <div class="w3-display-topmiddle w3-padding-large w3-xlarge"><img
        src="https://www.google.com/search?q=FTN&source=lnms&tbm=isch&sa=X&ved=2ahUKEwi5_ez466b6AhXBiIsKHSVNAoAQ_AUoAXoECAMQAw&biw=1279&bih=609&dpr=1.5#imgrc=nRyJKdXbE93TMM"
        width="200px"
        alt="alternatetext"
      /></div>
      <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top">Milan Maglov</h1>
        <hr class="w3-border-grey" style="margin: auto; width: 40%" />
        <p class="w3-large w3-center">IT75/2019</p>
      </div>
      <div class="w3-display-bottomleft w3-padding-large">
        <a target="_blank" href="https://www.linkedin.com/in/milan-maglov-1924151bb/"><i class="fa fa-linkedin-square" style="font-size:75px"></i></a>
      </div>
    </div>
  </body>
</html>
