<!DOCTYPE html>
<html>
  <head>
    <title>RVA</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
  </head>
  <body>
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
      <div class="w3-display-topleft w3-padding-large w3-xlarge">
        <img
          src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg"
          alt="alternatetext"
        />
      </div>
      <div class="w3-display-middle">
        <a mat-button routerLink="/about"><h1 class="w3-jumbo w3-animate-top">RVA</h1></a>
        <hr class="w3-border-grey" style="margin: auto; width: 40%" />
        <a mat-button routerLink="/author"><p class="w3-large w3-center">Milan Maglov</p></a>
      </div>
    </div>
  </body>
</html>
